DATABASE_URL="postgresql+asyncpg://postgres:admin@localhost:5432/taxogpt"

REDIS_URL="redis://localhost:6379/0"

PROJECT_NAME="Taxobuddy"
API_V1_STR="/api/v1"

JWT_SECRET_KEY="supersecretkey"
JWT_ALGORITHM="HS256"
API_KEY_SECRET="taxogpt-internal-api-key"
ACCESS_TOKEN_EXPIRE_MINUTES=30
API_KEY=CHANGE_ME_USE_A_STRONG_RANDOM_KEY

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME="8dmusicsstudios@gmail.com"
SMTP_PASSWORD="umz sadas ybos wyaj"
FEEDBACK_RECIPIENT_EMAIL="official.saifmalik@gmail.com"

GOOGLE_CLIENT_ID="622565022-jus6l87juk6lbvvk.apps..com"
FACEBOOK_APP_ID=3695640778
FACEBOOK_APP_SECRET="d5ffdcd7000068a5858819"

RAZORPAY_KEY_ID="rzp_live_Gh3AfB"
RAZORPAY_KEY_SECRET="AZUs3OPk0i3YM9"

QDRANT_HOST="localhost"
QDRANT_PORT=6333
QDRANT_API_KEY=""
QDRANT_TIMEOUT=20
QDRANT_COLLECTION="gst_chunks"
QDRANT_TEXT_VECTOR="text_vector"  
QDRANT_SPARSE_VECTOR="sparse_vector"

CORPUS_STATS_FILE="data/processed/corpus_stats.json"

AWS_ACCESS_KEY_ID="AKIAVSOTO3"
AWS_SECRET_ACCESS_KEY="94Nq4R9SV1DiWr"
AWS_REGION_NAME="us-east-1"

FRONTEND_URL="http://localhost:3000"

GLOBAL_MONTHLY_TOKEN_LIMIT=1000000
SESSION_TOKEN_LIMIT_DRAFT=60000   
SESSION_TOKEN_LIMIT_SIMPLE=100000