fastapi
uvicorn
python-jose[cryptography]
boto3
python-dotenv
sqlalchemy
asyncpg
redis
alembic
pydantic-settings
passlib[bcrypt]
multipart
pillow
python-multipart
apscheduler
google-auth
requests
razorpay
fpdf2
bcrypt
greenlet
qdrant-client
