fastapi
uvicorn
python-jose[cryptography]
sentence-transformers
faiss-cpu
boto3
python-dotenv
sqlalchemy
asyncpg
redis
alembic
pydantic-settings
passlib[bcrypt]
multipart
pillow
docling
python-multipart
apscheduler
